
*{
	/* margin: auto;
	padding: auto;
	outline: none;
	border: none;
	-webkit-box-sizing:border-box ;
    box-sizing: border-box;
	max-width: 1600px;
    position: relative;
    width: 1600px;
    height: 2349px;
	*/
}

:root{
    --primery-text-color:#(0, 0, 0, 0.8)
    
}
.head{
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;  
    /* подключить root color: */
    color: var(--primery-text-color);  
}
.web{  
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    list-style-type: none;
    font-family: 'Hoefler Text';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: black;
    text-decoration: none;
    
}
.web span{
    color: blue;
}



.menu{
    position: absolute;
    width: 302px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-size: 0;
    
}
.menu li{

    font-family: -apple-system;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: black;
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    }  
.menu a{
    text-decoration: none;
    color: black;
}
    
.menu .study{
    color: blue;

}



.contact{
    list-style-type: none;
}
.email{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    text-decoration: none;
    color: blue;
}
.tele{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1263px;
    top: 32px;
    text-decoration: none;
    color: black;

}



.cap{
    background-color: #2F303A;;
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
}

.cap .efect{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;

}


button{
position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
}
button:hover{
  
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
button a{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}



.feature{
    position: absolute;
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
    overflow: hidden;
}
.feature li{
    width: 270px;
    height: 101px;
    left: 215px;
    top: 774px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    float: left;
    margin-left: 20px;

    color: #212121;
}

.feature p{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;
}




.getbusy{
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 969px;
    
}

.getbusy h1{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.getbusy ul{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
    

}


.oureteam{
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
}
/* 
.team{
    position: absolute;
width: 1170px;
height: 368px;
left: 215px;
top: 1635px;
} */



footer{

position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;
background: #2F303A;
}

.footerweb{  
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    list-style-type: none;
    font-family: 'Hoefler Text';
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color:white;
    text-decoration: none;
    
}
.footerweb span{
    color: blue;
}

footer.address{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2268px;
}