:root{
    --text-colorgre:#757575;
    --text-colorbl:#212121;
    --text-colorwh: #ffffff;
    --hover-colorblu:#2196F3;
    --focus-color:#188ce8;
    --footer-color:#ffffff99;
    --sect-colordbl:#2F303A;
    --port-hedrgr:#F5F4FA;
    --text-logo:Raleway;   
    --text-body:Roboto;
}

body{
    font-family:var(--text-body), sans-serif ;
    background:var(--text-colorwh);
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* Позиция шапки сайта */
.links{
    list-style: none;
    color: var(--text-colorgre);
}

/* Шрифт шапки лого */
.nav-header .logo{
    font-family: var(--text-logo); 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--text-colorbl);
    text-decoration: none;
}
.logo span{
    color:var(--hover-colorblu);
}
/* шрифт шапки навигация */

.hero .link{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.headlink .link
{
    color: var(--text-colorbl);
}

.headlink .link:hover,
.headlink .link:focus
{
    color: var(--hover-colorblu);
}


/* шрифт шапки контакты */

.contact .link{
    color: var(--text-colorgre);
}

.contact .link:hover,
.contact .link:focus {
    color: var(--hover-colorblu);
}

/* позиция main */
.order{
    background-color: var(--sect-colordbl);
}

.order .efect{
font-weight: 900;
font-size: 44px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--text-colorwh);
}

/* конмпа заказа */
.order .button{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
cursor: pointer;
color: var(--text-colorwh);
background-color:var(--hover-colorblu);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.order .button:hover,
.order .button:focus{
    background-color: var(--focus-color);
    color:  var(--text-colorwh);
}


/* особености */

.features-body .feathero{
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-colorbl);
}

.features-title{
    list-style: none;
}
.features-body{
    line-height: 1.71;
    color: var(--text-colorgre);
}

 .shead .capit{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--text-colorbl);
}

.team-body .person-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-colorbl);
}

.team-body .team-footer{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-colorgre);
}

/* футер сайта */
.footer-title{
    background-color:var(--text-colorbl);
}

.footer-title .logo{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--text-colorbl);
}

.address .address-title{  
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    color: var(--footer-color);
    text-decoration: none;
}
.links .map{
    color: var(--text-colorwh);
}

.footer-title .logo{
    font-family: var(--text-logo); 
    color: var(--text-colorwh);
    text-decoration: none;
}

/* COMPONENTS */
/* что я могу сюда занести?? */
/*  END COMPONENTS */

/* PAGE PORTFOLIO MAIN */

.radio .button{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
color: var(--text-colorbl);
border-radius: 4px;
cursor: pointer;
background-color: var(--port-hedrgr);
}

.radio .button:hover,
.radio .button:focus{
    background-color: var(--focus-color) ;
    color: var(--text-colorwh);
}

.portfolioname{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-colorbl);
}

.portfotitle .portfooter{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-colorgre);

}